#tabl{
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

.main-content {
  margin: 0 5% 0 5%;
}

#headLog{
  margin: 4% 0 2% 0;
}

#navi , #footer{
 background-color: lightgray;
}

#titl {
  margin-left: 1%;
}

.eml a{
  display: flex;
  flex-direction: row;
  
}


#acc , #acc1, #acc2 {
  border: 0;
  background-color: white;
}

.exp{
  text-indent: 3%;
}

#footer h4{
  text-align: center;
  margin: 1% 0 1%;
}

#footer{
  margin:3% 0 3%;
}

#navi.navbar-inverse #navUl.navbar-nav > li > a {
  color:blue;
}

#navi.navbar-inverse #navUl.navbar-nav > li > a:hover{
  color:black;
}


#navi.navbar-inverse #navUl.navbar-nav>.open>a, #navi.navbar-inverse #navUl.navbar-nav>.open>a:focus, #navi.navbar-inverse #navUl.navbar-nav>.open>a:hover {
  background-color: gray;
}




/* 

td {
  width: auto;
  height: 10px;
  border: 1px solid black;
  padding: 0;
  font-size: 20px;
  text-align: center;
  border-spacing: 0;
}

th{
  width: 200px;
  height: 30px;
  border: 1px solid black;
  padding: 1px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0%;
 
}


table {
  margin: auto;
  margin-top: 2%;
} */